<div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        Upload File
      </div>
      <div class="card-body">
        <p>
          Click the button below to upload your DNA or Protein Dataset in FASTA format for Preprocessing.
        </p>
      </div>

      <div class="card-footer">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
<!--          <label for="file">Choose File</label>-->
          <input type="file" name="data" (change)="handleInputFile($event)"/>
         <!-- <img [src]="url | safe" height="200" *ngIf="url"> -->
          <iframe [src] = "url | safe" width = "600" height = "400" *ngIf="url"></iframe>
          
          <!--<button type="submit">Upload FASTA File</button>  handleFileInput($event.target.files)-->
          <div class= "row justify-content-center">
            <button class="btn btn-success"
                    type="submit" 
                    tooltip="hello dilu"
              placement="right">Upload FASTA File</button>
          </div>
        </form>
          <!--uploading file-->
          <div>
            <div *ngIf="error">
              {{ error.message }}
            </div>
            <div *ngIf="uploadResponse.status === 'error'">
              {{ uploadResponse.message }}
            </div>
            <div *ngIf="uploadResponse.status === 'progress'">
                <div class="progress md-progress" style="height: 12px;">
                  <div class="progress-bar bg-success" role="progressbar" ng-show= "True"
                  [style.width.%]="uploadResponse.message"
                  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    {{uploadResponse.message}}%
                  </div>
                  <br><br>
                </div>
            </div>
            <!--Success message for file upload-->
            <div *ngIf="uploadResponse.status==='Created'" >
              <br>
              <span class= "row justify-content-center">
                <strong> Dataset preprocessed and aligned successfully</strong>
              </span><br>
              <div class= "row justify-content-center">
                <a (click)="downloadMsa()" class= "btn btn-success">
                  <strong>Download Aligned Dataset</strong>
                  <i class="cui-cloud-download icons"></i>
                </a><br>
              </div>
            </div>
        </div>

        <!--recommending file-->
        <div>
          <div *ngIf="error">
            {{ error.message }}
          </div>
          <div *ngIf="recommendResponse.status === 'error'">
            {{ recommendResponse.message }}
          </div>
          <!-- <div *ngIf="recommendResponse.status === 'progress'">
              <div class="progress md-progress" style="height: 12px;">
                <div class="progress-bar bg-success" role="progressbar" ng-show= "True"
                [style.width.%]="uploadResponse.message"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                  {{recommendResponse.message}}%
                </div>
                <br><br>
              </div>
          </div> -->
          <!--Display recommended algorithms-->
          <div *ngIf="recommendResponse.status==='Created'" class="card">
            <div class="card-header">
                <span><strong>Recommended Algorithms:</strong></span>
            </div>
            <div class="card-body">
              <!-- select final algorithm for inference -->
              <form [formGroup]="recommendForm" (ngSubmit)="onAlgoSelect()">
                  <div *ngFor="let algo of recommendResponse.algorithms">
                    <label class=radio-inline>
                      <input type="radio" [value]="algo" formControlName="finalAlgorithm" v-c-tooltip="{
                        trigger: 'click',
                        content: 'I am tooltip',
                        placement: 'left'
                      }">
                      {{algo}}
                    </label>
                  </div>
                  <span><strong>Other Available Algorithms</strong></span>
                  <div *ngFor="let method of optionalMethods">
                    <label class=radio-inline>
                      <input type="radio" [value]="method" formControlName="finalAlgorithm">
                      {{method}}
                    </label>
                  </div>

                  <div class= "row justify-content-center">
                    <button class="btn btn-success"
                      type="submit">Infer Tree</button>
                  </div>
              </form>
            </div>
            <div class="card-footer">
              <!--Tree newick-->
              <div *ngIf="treeResponse.status==='Created'">
                <span>{{treeResponse.tree}}</span>
                <div class= "row justify-content-center">
                  <button class="btn btn-success"
                      (click)="this.visualize();">
                      Visualize Tree </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
