
.btn {
  border-color: black;
  color: black;
  font-size: 12pt;
}

.card-header {
  font-size: 12pt;
  color: black;
}

.form-check-input {
  font-size: 12pt;
}

.carousel-caption {
  font-size: 14pt;
}
