// Variable overrides
$body-bg:                               #212529;

//sidebar
$sidebar-bg: #3CB371;
$sidebar-nav-link-active-color: #212529;
$sidebar-nav-link-active-bg: #0dee42;
$sidebar-nav-link-active-icon-color: #212529;
$sidebar-nav-link-hover-bg: #0dee42;
$sidebar-nav-link-hover-color: #212529;
$sidebar-nav-link-hover-icon-color: #212529;
$sidebar-nav-link-color: #212529;

$carousel-caption-color: #212529;
